{{#partial "contents"}}
<div class="issues-back">
    <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon back-btn" title="go back"
       role="button">
        <i class="material-icons" role="presentation">arrow_back</i>
    </a>
</div>

<div class="issues__posts mdl-grid" style="display: block;">
    <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col" style="display: block;">
        <div class="issues__posts mdl-grid" style="display: block;">
            <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col" style="display:inline-block";>
                {{#game}}
                <div class="mdl-card__title mdl-color-text--grey-50" style="height:80px;">
                    <h4>{{id}}번방</h4>
                </div>

                <div class="content" data-game-id="{{id}}" data-user-name="{{eachUser.name}}" style="display:block; height:520px">
                    <div style = "display:inline-block; width:69%;">
                        <div id="game_box" style="display:block; height:455px; overflow:scroll; padding:10px"></div>
                        <div class="well" style="height:55px; padding-top: 8px;">
                            <button id="a" style="visibility: hidden" class="btn btn-primary">히트</button>
                            <button id="b" style="visibility: hidden" class="btn btn-primary">스탠드</button>
                            <button id="c" style="visibility: hidden" class="btn btn-primary">더블</button>
                            <button id="btnContinue" style="visibility: hidden" class="btn btn-primary">continue</button>
                            <a href="/games/exit"><button class="btn btn-primary">exit</button></a>
                        </div>
                    </div>

                    <div style = "display:inline-block; width:30%;">
                        <div id="chat_box" style="display:block; height:455px; overflow:scroll; padding:10px"></div>
                        <form class="well" style="height:55px; padding-top: 8px;">
                            <input type="text" id="msg" value="" class="form-control" style="display:inline-block; width:70%">
                            <button id="btnSend" class="btn btn-primary" style="display:inline-block; width:27%;">Send</button>
                        </form>
                    </div>
                </div>
                {{/game}}
            </div>
        </div>

    </div>
</div>

{{/partial}}

{{#partial "script"}}
<script src="/js/socket.js"></script>
{{/partial}}

{{> base}}