{{#partial "contents"}}
    <div class="container" id="main">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading"><h4>Profiles</h4></div>
                <div class="panel-body">
                    <div class="well well-sm">
                        {{#user}}
                        <div class="media">
                            <a class="thumbnail pull-left" href="#">
                                <img class="media-object" src="">
                            </a>
                            <div class="media-body">
                                <h2 class="media-heading">{{userId}}</h2>
                                <h4 class="media-heading">{{name}}</h4>
                            </div>
                        </div>
                        {{/user}}
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/partial}}

{{> base}}