<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Blackjack Game</title>

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.4.3/dialog-polyfill.css">
    <link rel="stylesheet"
          href="https://code.getmdl.io/1.1.3/material.blue_grey-orange.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/tinymce.css">
    {{#block "header"}}
    {{/block}}
</head>

<body>
<div class="issues issues--wrap mdl-layout mdl-js-layout is-upgraded">
    <header class="mdl-layout__header mdl-layout__header--waterfall">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title"><a id="title" href="/">Blackjack Game</a></span>
            <div class="mdl-layout-spacer"></div>
            <!-- Tabs -->
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="/games">Games</a>
                <a class="mdl-navigation__link" href="/users">Ranking</a>
                <a class="mdl-navigation__link" href="/posts">Community</a>
                {{^loginedUser}}
                <a class="mdl-navigation__link" href="/users/join">Join</a>
                <a class="mdl-navigation__link" href="/users/login">Login</a>
                {{/loginedUser}}
                {{#loginedUser}}
                <a class="mdl-navigation__link" href="/users/{{id}}/form">{{userId}}({{name}})</a>
                <a class="mdl-navigation__link" href="/users/logout">Logout</a>
                {{/loginedUser}}
            </nav>
        </div>
    </header>

    <main class="mdl-layout__content">
        {{#block "contents"}}
        {{/block}}
    </main>

    <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer--left-section">
            <div class="mdl-logo mdl-color-text--grey-600">Proudly powered by Finn & Zingo</div>
        </div>
        {{#block "footer"}}
        {{/block}}
    </footer>
    <div class="mdl-layout__obfuscator"></div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://code.getmdl.io/1.1.3/material.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.4.3/dialog-polyfill.min.js"></script>
<script src="https://cdn.tinymce.com/4/tinymce.min.js"></script>
<script src="/js/main.js"></script>
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script>$('.back-btn').on('click',function(){history.back();})</script>

{{#block "script"}}
{{/block}}

</body>
</html>