{{#partial "contents"}}
<div class="issues__posts mdl-grid">
    <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
        <form action="/users/login" method="post">
            <div class="mdl-card__title mdl-color-text--grey-50" style="height:80px;">
                <h4>Games</h4>
                {{# loginedUser}}
                <a href="/games/form"
                   class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored show-modal"
                >
                    <i class="material-icons">add</i>
                </a>
                {{/ loginedUser}}
            </div>
            <div class="mdl-card__supporting-text">
                <ul class="issue-list mdl-list">
                    {{#games}}
                    <li class="mdl-list__item mdl-list__item--two-line">
                                <span class="mdl-list__item-primary-content">
                                    <a>
                                         <img class="mdl-list__item-avatar" height="48" width="48"
                                              src="https://avatars2.githubusercontent.com/u/520500?v=3&s=140"
                                              alt="javajigi">
                                    </a>

                                    <a href="/issues/{{id}}">
                                        <strong>{{id}}</strong>

                                    </a>
                                    <span class="mdl-list__item-sub-title">
                                        #{{id}} {{open}}
                                        <relative-time datetime="2017-01-14"
                                                       title="2017-01-14">2017-01-14</relative-time>
                                        by <a href="/users/{{writer.id}}" aria-label="View all issues opened by javajigi"
                                              class="tooltipped tooltipped-s muted-link">{{writer.userId}}</a>
                                    </span>
                                </span>
                        <span class="mdl-list__item-secondary-content">
                                    <span class="material-icons mdl-badge mdl-badge--overlap"
                                          data-badge="1">comment</span>
                                </span>
                    </li>

                    {{/games}}
                </ul>
            </div>
        </form>
    </div>
</div>

{{/partial}}

{{> base}}