{{#partial "contents"}}
    <div class="issues-back">
        <a href="/" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon back-btn" title="go back"
           role="button">
            <i class="material-icons" role="presentation">arrow_back</i>
        </a>
    </div>
    <div class="issues__posts mdl-grid">
        <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">

            {{#errorMessage}}
            <div class="alert alert-danger" role="alert">{{this}}</div>
            {{/errorMessage}}

            {{#issue}}
            <div class="mdl-card__menu">
                <a href="/issues/{{id}}/form" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                    <i class="material-icons">edit</i>
                </a>
                <form action="/issues/{{id}}" method="POST" style="display:inline-block">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="mdl-button mdl-js-button mdl-button--icon" type="submit">
                        <i class="material-icons">delete</i>
                    </button>
                </form>
            </div>
            <div class="mdl-card__title mdl-color-text--grey-50">
                <i class="material-icons">check_circle</i>

                <h2 class="mdl-card__title-text">{{subject}}</h2>

            </div>

            <div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">
                <img class="minilogo" height="48" width="48"
                     src="https://avatars2.githubusercontent.com/u/520500?v=3&s=140" alt="javajigi">
                <div style="margin-right:20px;">
                    <div class="author-text">
                        <strong>
                            <a href="/users/{{writer.id}}" class="author">{{writer.userId}}</a>
                        </strong>
                    </div>
                    <span>2017-01-14</span>
                </div>
                <a href="/issues/{{id}}/closed" class="mdl-button mdl-button--colored mdl-js-button">
                    Close issue
                </a>

                <div class="section-spacer"></div>

                <button id="milestone-menu" class="mdl-button mdl-js-button">
                    Milestone
                </button>
                <!-- milestone list -->
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                    for="milestone-menu">
                    {{#milestone}}
                    <li class="mdl-menu__item mdl-button--accent">
                        <a href="">{{milestone.subject}}</a>
                    </li>
                    {{/milestone}}
                    {{#milestones}}
                    <li class="mdl-menu__item">
                        <a href="/issues/{{issue.id}}/milestones/{{id}}">{{subject}}</a>
                    </li>
                    {{/milestones}}

                </ul>

                <button id="label-menu" class="mdl-button mdl-js-button">
                    Label
                </button>
                <!-- label list -->
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                    for="label-menu">
                    {{#labels}}
                    <li class="mdl-menu__item mdl-button--accent">
                        <a href="">{{name}}</a>
                    </li>
                    {{/labels}}
                    {{#allLabels}}
                    <li class="mdl-menu__item">
                        <a href="/issues/{{issue.id}}/labels/{{id}}">{{name}}</a>
                    </li>
                    {{/allLabels}}
                </ul>

                <button id="assignee-menu" class="mdl-button mdl-js-button">
                    Assignee
                </button>
                <!-- label list -->
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                    for="assignee-menu">

                    {{#assignee}}
                    <li class="mdl-menu__item mdl-button--accent">
                        <a href="">{{userId}}</a>
                    </li>
                    {{/assignee}}

                    {{#assignees}}
                    <li class="mdl-menu__item">
                        <a href="/issues/{{issue.id}}/assignees/{{id}}">{{userId}}</a>
                    </li>
                    {{/assignees}}

                </ul>
            </div>
            <div class="mdl-color-text--grey-700 mdl-card__supporting-text">

                <p>{{comment}}</p>
            </div>


            <div class="mdl-color-text--primary-contrast mdl-card__supporting-text comments">

                <div class="issues-comments">
                <!-- comments start -->
                {{#notDeletedAnswers}}
                <div class="comment mdl-color-text--grey-700">
                    <header class="comment__header">
                        <img class="comment__avatar2" height="48" width="48"
                             src="https://avatars2.githubusercontent.com/u/520500?v=3&s=140" alt="javajigi">
                        <div class="comment__author">
                            <strong>
                                <a href="/users/{{writer.id}}">{{writer.userId}}</a>
                                <span>({{formattedCreateDate}} /</span>
                                <span>{{formattedModifiedDate}})</span>
                            </strong>
                            <span>{{contents}}</span>
                        </div>
                    </header>
                </div>
                <hr style="border-color: #9e9e9e; margin: 0">
                {{/notDeletedAnswers}}
                <!-- comments end -->
                </div>

            </div>

            <form action="/issue/1/uploadFile" enctype="multipart/form-data" method="POST">
                <div style="margin:10px;">
                    <input type="file" name="file" id="file"/>
                    <button class="mdl-button" type="submit">upload file</button>
                </div>
            </form>

            <div class="mdl-color-text--primary-contrast mdl-card__supporting-text new-comment">

                <form class="answer-write" action="/api/issues/{{id}}/answers" method="POST">

                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <textarea rows=5 class="mdl-textfield__input" id="comment" name="comment"></textarea>
                        <label for="comment" class="mdl-textfield__label">Leave a comment</label>
                    </div>

                    <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                        <i class="material-icons" role="presentation">check</i><span class="visuallyhidden">add comment</span>
                    </button>

                </form>

            </div>
            {{/issue}}

        </div>
    </div>

    <script type="text/template" id="answerTemplate">

        <div class="comment mdl-color-text--grey-700">
            <header class="comment__header">
                <img class="comment__avatar2" height="48" width="48"
                     src="https://avatars2.githubusercontent.com/u/520500?v=3&s=140" alt="javajigi">
                <div class="comment__author">
                    <strong>
                        <a href="/users/{7}">{0}</a>
                        <span>({1} /</span>
                        <span>{2})</span>
                    </strong>
                    <span>{3}</span>
                </div>
            </header>
        </div>
        <hr style="border-color: #9e9e9e; margin: 0">

    </script>
{{/partial}}

{{> base}}